@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&display=swap');
.location{
    padding: 2em;
    border-radius: 0.8em;
    background-color: #062226;
    max-width: 600px;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0.2em 0.2em 1em #0009;
}
.location_name{
    text-align: center;
    margin-bottom: 1em;
    color: rgb(125,199,14);
    font-family: 'Merienda', cursive;
}
.location_list{
    display: flex;
    gap: 1em;
    justify-content: space-around;
    font-family: 'Merienda', cursive;
}
.location_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    color: #aaa;
    font-weight: 500;
}
.location_label{
    color: white;
}
@media (min-width: 700px) {
    .location{
        padding: 2em;
        border-radius: 0.8em;
        background-color: #062226;
        max-width: 600px;
        margin-bottom: 8em;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0.2em 0.2em 1em #0009;
    }
}