*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: white;
}
h1, h2, h3, h4, p, ul{
    margin-top: 0;
    margin-bottom: 0;
} 
ul{
    list-style: none;
    padding: 0;
}
input{
    outline: 0;
    border: 0;
    text-align: center;
}
img{
    display: block;
    width: 100%;
}